<!-- Page Header Start -->
<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Page Header Box Start -->
				<div class="page-header-box">
					<h1 class="text-anime-style-2" data-cursor="-opaque">Contact<span></span></h1>
					<nav class="wow fadeInUp">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">home</a></li>
							<li class="breadcrumb-item active" aria-current="page">contact</li>
						</ol>
					</nav>
				</div>
				<!-- Page Header Box End -->
			</div>
		</div>
	</div>
</div>
<!-- Page Header End -->

<!-- Page Contact Start -->
 <div class="page-contact">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="contact-us-content">
					<!-- Section Title Start -->
					<div class="section-title">
						<h3 class="wow fadeInUp">Contact Info</h3>
						<h2 class="text-anime-style-2" data-cursor="-opaque"><span>Îngrijire stomatologică personalizată -</span> suntem la un mesaj distanță </h2>
						<p class="wow fadeInUp" data-wow-delay="0.25s">Pentru urgente medicare sau pentru o programare, contactati-ne folosind una dintre metodele de mai jos.</p>
					</div>
					<!-- Section Title End -->

					<!-- Contact US Info Start -->
					<div class="contact-us-info">
						<div class="row">
							<div class="col-md-6">
								<!-- Contact US Item Start -->
								<div class="contact-us-item wow fadeInUp">
									<!-- Icon Box Start -->
									<div class="icon-box">
										<img src="/assets/img/icons/icon-location.png" alt="">
									</div>
									<!-- Icon Box End -->

									<!-- Contact Us Content Start -->
									<div class="contact-info-content">
										<h3>Aici ne gasesti</h3>
										<p>Strada Stefan Baciu Nr. XX, Brasov, Romania</p>
									</div>
									<!-- Contact Us Content End -->
								</div>
								<!-- Contact Us Item End -->
							</div>

							<div class="col-md-6">
								<!-- Contact US Item Start -->
								<div class="contact-us-item wow fadeInUp" data-wow-delay="0.25s">
								<!-- Icon Box Start -->
								<div class="icon-box">
									<img src="/assets/img/icons/icon-phone.png" alt="">
								</div>
								<!-- Icon Box End -->

								<!-- Contact Us Content Start -->
								<div class="contact-info-content">
									<h3>Suna-ne</h3>
									<p>+(40) 751 496 039</p>
								</div>
								<!-- Contact Us Content End -->
								</div>
							<!-- Contact Us Item End -->
							</div>

							<div class="col-md-6">
								<!-- Contact US Item Start -->
								<div class="contact-us-item wow fadeInUp" data-wow-delay="0.5s">
									<!-- Icon Box Start -->
									<div class="icon-box">
										<img src="/assets/img/icons/icon-clock.png" alt="">
									</div>
									<!-- Icon Box End -->

									<!-- Contact Us Content Start -->
									<div class="contact-info-content">
										<h3>Program</h3>
										<p>Luni - Vineri, 9:00 - 17:00 </p>
										<p>Sambata - 9:00 - 13:00 </p>
									</div>
									<!-- Contact Us Content End -->
								</div>
								<!-- Contact Us Item End -->
							</div>

							<div class="col-md-6">
								<!-- Contact US Item Start -->
								<div class="contact-us-item wow fadeInUp" data-wow-delay="0.75s">
									<!-- Icon Box Start -->
									<div class="icon-box">
										<img src="/assets/img/icons/icon-mail.png" alt="">
									</div>
									<!-- Icon Box End -->

									<!-- Contact Us Content Start -->
									<div class="contact-info-content">
										<h3>E-mail</h3>
										<p>edentall&#64;gmail.com</p>
									</div>
									<!-- Contact Us Content End -->
								</div>
								<!-- Contact Us Item End -->
							</div>
						</div>
					</div>
					<!-- Contact US Info End -->
				</div>
			</div>
			<div class="col-lg-6">
				<!-- Google Map Start -->
				<div class="contact-google-map">
				  <!-- Google Map Iframe Start -->
				  <div class="google-map-iframe">
					<iframe
					  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1393.9435230698587!2d25.602664255762136!3d45.67316783296093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sro!4v1731396466826!5m2!1sen!2sro"
					  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					  referrerpolicy="no-referrer-when-downgrade"></iframe>
				  </div>
				  <!-- Google Map Iframe End -->
				</div>
				<!-- Google Map End -->
			  </div>
		</div>
	</div>
 </div>
<!-- Page Contact End -->

<!-- Contact Form Start -->
<div class="contact-us-form">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<!-- Contact Us Image Start -->
				 <div class="contact-us-img">
					<figure class="reveal image-anime">
						<img src="/assets/img/general/contact-us-img.png" alt="">
					</figure>
				 </div>
				<!-- Contact Us Image End -->
			</div>
			<div class="col-lg-6">
				<div class="contact-form">
					<!-- Section Title Start -->
					<div class="section-title">
						<h3 class="wow fadeInUp">Contacteaza-ne</h3>
						<h2 class="text-anime-style-2" data-cursor="-opaque"><span>Trimite-ne un mesaj </span> si revenim noi catre tine</h2>
					</div>
					<!-- Section Title End -->

					<form id="contactForm" action="#" method="POST" data-toggle="validator" class="wow fadeInUp" data-wow-delay="0.25s">
						<div class="row">
							<div class="form-group col-md-6 mb-4">
								<input type="text" name="name" class="form-control" id="fullname" placeholder="Nume" required="">
								<div class="help-block with-errors"></div>
							</div>
				
							<div class="form-group col-md-6 mb-4">
								<input type="email" name="email" class="form-control" id="email" placeholder="E-mail-ul tau" required="">
								<div class="help-block with-errors"></div>
							</div>
				
							<div class="form-group col-md-6 mb-4">
								<input type="text" name="phone" class="form-control" id="phone" placeholder="Nr. de telefon:" required="">
								<div class="help-block with-errors"></div>
							</div>
				
							<div class="form-group col-md-6 mb-4">
								<input type="text" name="subject" class="form-control" id="subject" placeholder="Subiect" required="">
								<div class="help-block with-errors"></div>
							</div>
				
							<div class="form-group col-md-12 mb-5">
								<textarea name="msg" class="form-control" id="msg" rows="5" placeholder="Mesaj" required=""></textarea>
								<div class="help-block with-errors"></div>
							</div>
				
							<div class="col-md-12">
								<button type="submit" class="btn-default">Trimite mesaj</button>
								<div id="msgSubmit" class="h3 hidden"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Form End -->