:host ::ng-deep .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0; /* Add margin as needed */
    max-width: fit-content;
  }
  
  :host ::ng-deep .contact-item {
    display: flex;
    align-items: center;
    margin-left: 280px; 
    // margin-right: 180px;
  }
  
  /* Add styles for icons if needed */
  :host ::ng-deep .contact-item img {
    width: 63px;
    height: 63px;
  }


  :host ::ng-deep .row.align-center {
    background-color: #E7EEEB; /* Set your desired background color */
    padding: 20px; /* Add padding as needed */
  }
  
  :host ::ng-deep .text {
    margin-bottom: 20px; /* Add margin between each text element */
  }
  
  :host ::ng-deep h6 {
    font-size: 1.5rem;
  }
  
  :host ::ng-deep h1 {
    font-size: 3rem;
  }
  
  :host ::ng-deep p {
    font-size: 1.1rem;
  }
  
  :host ::ng-deep .gap-element {
    padding-top: 60px;
  }

// /* Add this at the beginning of your SCSS file */
// html, body {
//   height: 100%;
//   margin: 0;
// }

// body {
//   font-family: "Albert Sans", sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   line-height: 1.6;
//   font-size: 100%;
//   color: #333;
//   box-sizing: border-box;
//   margin-bottom: 1.3em;
// }

// /* Add this to your existing SCSS file */
// .wpcf7-form {
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   flex-wrap: wrap;
// }

// .wpcf7-form p {
//   width: 100%;
//   box-sizing: border-box;
//   margin: 0;
// }

// .wpcf7-form label {
//   width: 100%;
//   box-sizing: border-box;
//   margin: 0;
// }

// .wpcf7-form input,
// .wpcf7-form textarea {
//   width: 70%;
//   box-sizing: border-box;
// }

// /* Add this style to make the label and input fields display inline */
// .wpcf7-form label {
//   display: inline-block;
// }

// .wpcf7-form .mylabel {
//   width: 100%;
// }

// .wpcf7-form .text20 {
//   font-size: 20px; /* Adjust the font size as needed */
// }

// /* Add this style to reduce spacing between form elements */
// .wpcf7-form p {
//   margin-bottom: 10px; /* Adjust the spacing as needed */
// }

// /* Add this style to remove default input borders */
// .wpcf7-form input,
// .wpcf7-form textarea {
//   border: none;
//   border-radius: 0;
//   border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
//   padding: 10px; /* Add padding for better appearance */
//   margin-left: 350px;
// }

// /* Add this style to center the submit button */
// .wpcf7-form p:last-child {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }


// /* Buttons style */
// #customButton {
//   display: inline-block;
//   padding: 10px 20px;
//   border: 2px solid #001f3f; /* Dark blue border */
//   border-radius: 10px;
//   background: linear-gradient(to right, #72acf8 0%, #245ec9 25%, #1743a2 51%, #72acf8 100%); /* Gradient background */
//   color: #ffffff; /* White text */
//   text-decoration: none;
//   transition: background 0.3s, color 0.3s;
//   border-radius: 10px;
// }

// #customButton:hover {
//   background: linear-gradient(to right, #7b72f8 0%, #4224c9 25%, #4817a2 51%, #7b72f8 100%); /* Gradient background */
//   color: #ffffff; /* White text */
//   transform: scale(1.05);
// }





svg {
	height: 23rem;
	margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.container {
	height: 100vh;
}

form {
	min-width: 25rem;
  max-width: 35rem;
	
  #small-title {
    color: #212529;
		font-size: 1.5rem;
  }

	.title {
		// font-family: 'Pacifico', cursive;
		color: #212529;
		font-size: 2.5rem;
	}

  #small-paragraph {
    color: #212529;
		font-size: 1rem;
  }
	
  .form-control {
    background-color: #f2f6f8;
		border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		
    &.thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
  }
	
	.message .form-control {
			padding: .5rem 1.8rem;
      padding-left: 3.5rem;
	}
	
  ::placeholder {
    // font-family: 'Quicksand', sans-serif;
		font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
	
  input,
  textarea {
		// font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
    margin: 1.2rem;
  }
	
  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
	font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(to right, #72acf8 0%, #245ec9 25%, #1743a2 51%, #72acf8 100%);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-image: linear-gradient(to right, #7b72f8 0%, #4224c9 25%, #4817a2 51%, #7b72f8 100%);
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}