<!-- Header Start -->
<header class="main-header">
  <div class="header-sticky">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo Start -->
        <a class="navbar-brand" href="/">
          <img src="assets/img/logo/Horizontal-2-Dark.svg" alt="Logo">
        </a>
        <!-- Logo End -->

        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse main-menu">
          <div class="nav-menu-wrapper">
            <ul class="navbar-nav mr-auto" id="menu">
              <li class="nav-item"><a class="nav-link" href="/">Acasa</a></li>
              <li class="nav-item"><a class="nav-link" href="/despre-noi">Despre Noi</a></li>
              <li class="nav-item submenu"><a class="nav-link" href="/servicii">Servicii</a>
                <ul>
                  <li class="nav-item"><a class="nav-link" href="/servicii/profilaxie-dentara">Profilaxie Dentara</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/stomatologie-generala">Stomatologie Generala</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/endodontie">Endodontie</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/parodontologie">Parodontologie</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/ortodontie">Ortodontie</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/protetica-dentara">Protetica Dentara</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/estetica-dentara">Estetica Dentara</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/chirurgie-dentara">Chirurgie Dentara</a></li>
                  <li class="nav-item"><a class="nav-link" href="/servicii/stomatologie-copii">Stomatologie copii</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="/tarife">Tarife</a></li>
              <li class="nav-item submenu"><a class="nav-link" href="#">Mai multe</a>
                <ul>
                  <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>
                  <li class="nav-item"><a class="nav-link" href="team-single.html">Team Details</a></li>
                  <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                  <li class="nav-item"><a class="nav-link" href="technology.html">Technology</a></li>
                  <li class="nav-item"><a class="nav-link" href="/testimoniale">Testimonials</a></li>
                  <li class="nav-item"><a class="nav-link" href="/intrebari-frecvente">Intrebari Frecvente</a></li>
                  <li class="nav-item"><a class="nav-link" href="/not-found">404</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
              <li class="nav-item highlighted-menu"><a class="nav-link" href="appointment.html">Book Appointment</a>
              </li>
            </ul>
          </div>
          <!-- Let’s Start Button Start -->
          <!-- <div class="header-btn d-inline-flex">
                          <a href="appointment.html" class="btn-default">Book Appointment</a>
                      </div> -->
          <!-- Let’s Start Button End -->
        </div>
        <!-- Main Menu End -->
        <div class="navbar-toggle"></div>
      </div>
    </nav>
    <div class="responsive-menu"></div>
  </div>
</header>
<!-- Header End -->