<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Tarife</span> si Servicii</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Acasa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tarife</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Single Branch Expand Toggle -->
<igx-switch 
  [(ngModel)]="singleBranchExpand" 
  (change)="toggleSingleBranchExpand(accordion)">
  Single Branch Expand
</igx-switch>

<!-- Expand All / Collapse All Toggle -->
<igx-switch 
  [checked]="expandAll" 
  (click)="toggleExpandAll(accordion)">
  Expand All / Collapse All
</igx-switch>

<article class="sample-wrapper">
    <igx-accordion #accordion [singleBranchExpand]="singleBranchExpand">
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>
                    CONSULTATII
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Consultație complexă (include fotografii intraorale, consult interdisciplinar, elaborare plan de tratament cu deviz estimativ)
                    </div>
                    <div class="column-right">
                        200 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Consultație punctuală
                    </div>
                    <div class="column-right">
                        100 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>PROFILAXIE</igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Air Flow EMS
                    </div>
                    <div class="column-right">
                        150 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Igienizare profesională completă (detartraj, periaj, airflow EMS)
                    </div>
                    <div class="column-right">
                        350 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Detartraj subgingival LASER
                    </div>
                    <div class="column-right">
                        600 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>ESTETICA DENTARA</igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Albire dentară BEYOND POLUS ADVANCED ULTRA
                    </div>
                    <div class="column-right">
                        1300 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Albire dentară LASER
                    </div>
                    <div class="column-right">
                        1600 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Albire la domiciliu (include gutiere + 2 seringi gel de albire)
                    </div>
                    <div class="column-right">
                        700 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>TRATAMENTUL CARIILOR</igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Sigilare lărgită
                    </div>
                    <div class="column-right">
                        200 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Obturație S ( 1 suprafață afectată)
                    </div>
                    <div class="column-right">
                        250 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Obturație M (2 suprafețe afectate)
                    </div>
                    <div class="column-right">
                        300 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Obturație L (3 suprafețe afectate)
                    </div>
                    <div class="column-right">
                        350 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Obturație dite frontal
                    </div>
                    <div class="column-right">
                        370 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>TRATAMENT ENDODONTIC
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Tratament de urgentă
                    </div>
                    <div class="column-right">
                        200 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Tratament complet de canal realizat sub control microscopic
                    </div>
                    <div class="column-right">
                        600 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>TRATAMENTUL BOLII PARODONTALE
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Evaluare parodontală
                    </div>
                    <div class="column-right">
                        200 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Terapie parodontală nechirurgicală superficială LASER /arcadă
                    </div>
                    <div class="column-right">
                        1000 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Terapie parodontală nechirurgicală profundă LASER /arcadă
                    </div>
                    <div class="column-right">
                        1700 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>CHIRURGIE
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Extracție dinte parodontotic mobil
                    </div>
                    <div class="column-right">
                        150 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Extracție dinte frontal
                    </div>
                    <div class="column-right">
                        180 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Extracție dinte lateral
                    </div>
                    <div class="column-right">
                        250 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Extracție molar de minte
                    </div>
                    <div class="column-right">
                        300 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>IMPLANTOLOGIE
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Implant dentar Biotech Kontact (Franța)
                    </div>
                    <div class="column-right">
                        2850 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Implant dentar Straumann (Elveția)
                    </div>
                    <div class="column-right">
                        3900 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>PROTETICA
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Coroană provizorie directă
                    </div>
                    <div class="column-right">
                        150 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Coroană provizorie PMMA
                    </div>
                    <div class="column-right">
                        250 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Coroană zirconiu
                    </div>
                    <div class="column-right">
                        1400 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Coroană integral ceramică Emax
                    </div>
                    <div class="column-right">
                        1600 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Fațetă ceramică Emax
                    </div>
                    <div class="column-right">
                        1600 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>ORTODONTIE
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Aparat ortodontic fix metalic/ arcadă
                    </div>
                    <div class="column-right">
                        2950 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Aparat ortodontic fix safir/ arcadă
                    </div>
                    <div class="column-right">
                        3900 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Aparat orthodontic invizibil SPARK
                    </div>
                    <div class="column-right">
                        6200 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
        <igx-expansion-panel>
            <igx-expansion-panel-header>
                <igx-expansion-panel-title>STOMATOLOGIE COPII
                </igx-expansion-panel-title>
            </igx-expansion-panel-header>
            <igx-expansion-panel-body>
                <div class="table-line-layout">
                    <div class="column-left">
                        Periaj professional
                    </div>
                    <div class="column-right">
                        100 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Sigilare dinte temporar
                    </div>
                    <div class="column-right">
                        150 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Sigilare dinte definitiv
                    </div>
                    <div class="column-right">
                        190 RON
                    </div>
                </div>
                <div class="table-line-layout">
                    <div class="column-left">
                        Obturație dinte temporar
                    </div>
                    <div class="column-right">
                        200 RON
                    </div>
                </div>
            </igx-expansion-panel-body>
        </igx-expansion-panel>
    </igx-accordion>
</article>



<!-- <div class="container mt-4">
    <div class="row align-equal align-center">
      <div class="col medium-5 small-12 large-5">
        <div class="col-inner" style="background-color: rgb(255, 255, 255);">
          <div class="row">
            <div class="col small-12 large-12">
              <div class="col-inner">
  
                <div *ngFor="let service of services" class="accordion">
                  <div class="accordion-item">
                    <a href="#" class="accordion-title plain" [attr.aria-expanded]="false" [attr.aria-controls]="service.id">
                      <button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
                      <span>{{service.title}}</span>
                    </a>
                    <div [id]="service.id" class="accordion-inner" [attr.aria-labelledby]="service.id" style="display: none;">
                      <p *ngFor="let item of service.items">{{item}}</p>
                    </div>
                  </div>
                </div>
  
                <div id="gap-608906150" class="gap-element clearfix" style="display: block; height: auto;"></div>
  
                <a href="https://dentalarchitect.ro/contact/#trimite" target="_self" class="button primary">
                  <span>PROGRAMEAZĂ-TE ACUM</span>
                </a>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->
