<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <!-- Page Header Box Start -->
        <div class="page-header-box">
          <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Despre</span> Noi</h1>
          <nav class="wow fadeInUp">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Acasa</a></li>
              <li class="breadcrumb-item active" aria-current="page">Despre Noi</li>
            </ol>
          </nav>
        </div>
        <!-- Page Header Box End -->
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- About Us Section Start -->
<div class="about-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <!-- About Image Start -->
        <div class="about-image">
          <div class="about-img-1">
            <figure class="image-anime reveal">
              <img src="assets/img/about/despre-noi-cropped-resized-1.webp" alt="">
            </figure>
          </div>

          <div class="about-img-2">
            <figure class="image-anime reveal">
              <img src="assets/img/about/despre-noi-cropped-resized-2.webp" alt="">
            </figure>
          </div>

          <!-- About Experience Circle Start -->
          <div class="about-experience">
            <figure>
              <img src="assets/img/about/about-experience-circle.webp" alt="">
            </figure>
          </div>
          <!-- About Experience Circle End -->
        </div>
        <!-- About Image End -->
      </div>

      <div class="col-lg-6">
        <!-- About Content Start -->
        <div class="about-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">Despre Noi</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Călătoria ta</span> către un zâmbet mai sănătos
              începe aici!</h2>
            <p class="wow fadeInUp" data-wow-delay="0.25s">Scopul clinicii noastre este să oferim servicii
              stomatologice
              prietenoase și grijulii, alături de cele mai înalte standarde în tratamente generale, estetice și de
              specialitate.</p>
          </div>
          <!-- Section Title End -->

          <!-- About Us Body Start -->
          <div class="about-us-body wow fadeInUp" data-wow-delay="0.5s">
            <ul>
              <li>echipă experimentată</li>
              <li>servicii complete</li>
              <li>tehnologie de ultimă generație</li>
              <li>servicii stomatologice de urgență</li>
            </ul>
          </div>
          <!-- About Us Body End -->

          <!-- About Us Footer Start -->
          <div class="about-us-footer wow fadeInUp" data-wow-delay="0.75s">
            <a href="#" class="btn-default">Afla mai multe</a>
          </div>
          <!-- About Us Footer End -->
        </div>
        <!-- About Content End -->
      </div>
    </div>
  </div>
</div>
<!-- About Us Section End -->

<!-- Insurance Company Logo Slider Start -->
<div class="insurance-company-carousel">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="insurance-carousel-title">
          <!-- <h3> Partenerii nostri </h3> -->
        </div>
      </div>

      <div class="col-lg-8">
        <!-- company Carousel Start -->
        <div class="company-carousel">
          <div class="swiper companies_logo_slider">
            <div class="swiper-wrapper">
              <!-- company Logo Start -->
              <div class="swiper-slide">
                <div class="company-logo">
                  <!-- <img src="/assets/img/general/client-logo-1.webp" alt=""> -->
                </div>
              </div>
              <!-- company Logo End -->

              <!-- company Logo Start -->
              <div class="swiper-slide">
                <div class="company-logo">
                  <img src="/assets/img/general/client-logo-2.webp" alt="">
                </div>
              </div>
              <!-- company Logo End -->

              <!-- company Logo Start -->
              <div class="swiper-slide">
                <div class="company-logo">
                  <img src="/assets/img/general/client-logo-3.webp" alt="">
                </div>
              </div>
              <!-- company Logo End -->

              <!-- company Logo Start -->
              <div class="swiper-slide">
                <div class="company-logo">
                  <img src="/assets/img/general/client-logo-1.webp" alt="">
                </div>
              </div>
              <!-- company Logo End -->

              <!-- company Logo Start -->
              <div class="swiper-slide">
                <div class="company-logo">
                  <img src="/assets/img/general/client-logo-2.webp" alt="">
                </div>
              </div>
              <!-- company Logo End -->

              <!-- company Logo Start -->
              <div class="swiper-slide">
                <div class="company-logo">
                  <img src="/assets/img/general/client-logo-3.webp" alt="">
                </div>
              </div>
              <!-- company Logo End -->
            </div>
          </div>
        </div>
        <!-- company Carousel End -->
      </div>
    </div>
  </div>
</div>
<!-- Insurance Company Logo Slider End -->

<!-- How It Work Start -->
<div class="how-it-work">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <!-- How It Work Image Start -->
        <div class="how-it-work-img">
          <figure class="reveal image-anime">
            <img src="assets/img/general/cum-functioneaza-cropped-resized.webp" alt="">
          </figure>
        </div>
        <!-- How It Work Image End -->
      </div>

      <div class="col-lg-6">
        <div class="how-it-work-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">Cum functioneaza?</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Pasii pe care</span> sa-i urmezi:
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.25s">Primul pas este sa iei legatura cu noi, fie prin
              e-mail,
              folosind numarul de telefon sau chiar trecandu-ne pragul direct in clinica</p>
          </div>
          <!-- Section Title End -->

          <!-- How Work Accordion Start -->

          <!-- FAQ Accordion Start -->
          <div class="faq-accordion how-work-accordion" id="accordion">
            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp">
              <div class="icon-box">
                <img src="assets/img/icons/icon-how-it-work-1.svg" alt="">
              </div>
              <h2 class="accordion-header" id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                  aria-expanded="true" aria-controls="collapse1">
                  Programare
                </button>
              </h2>
              <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                data-bs-parent="#accordion">
                <div class="accordion-body">
                  <p>Fie ca alegeti sa faceti programarea prin telefon, e-mail sau direct la sediul
                    nostru, ne vom
                    asigura ca data si ora aleasa este potrivita pentru ambele parti.</p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
              <div class="icon-box">
                <img src="assets/img/icons/icon-how-it-work-2.svg" alt="">
              </div>
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  Consult
                </button>
              </h2>
              <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                data-bs-parent="#accordion">
                <div class="accordion-body">
                  <p>Stabilim un diagnostic si facem una sau mai multe propuneri de tratament, in
                    functie de situatie.
                    Indiferent ca este o interventie chirurgicala, o obturatie sau orice altceva, cu
                    siguranta vom
                    stabili impreuna care este mai potrivita pentru dumneavoastra </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
              <div class="icon-box">
                <img src="assets/img/icons/icon-how-it-work-3.svg" alt="">
              </div>
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  Tratament
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                data-bs-parent="#accordion">
                <div class="accordion-body">
                  <p>O echipa unică de medici talentaţi, cu un înalt grad de profesionalism, pregătiţi
                    în cadrul mai
                    multor stagii atât din tară, cât şi din străinătate, având competenţe distincte,
                    care acoperă toată
                    aria tratamentelor stomatologice..</p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->
          </div>
          <!-- FAQ Accordion End -->
          <!-- How Work Accordion End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- How It Work End -->

<!-- Why Choose Us Section Start -->
<div class="why-choose-us">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">De ce sa ne alegi pe noi</h3>
          <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Diagnosticul</span> Afectiunilor Dentare
          </h2>
          <p class="wow fadeInUp" data-wow-delay="0.25s">Ne angajăm față de sustenabilitate si inițiative
            ecologice.
          </p>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 order-1">
        <!-- Why Choose Box Start -->
        <div class="why-choose-box-1">
          <!-- Why Choose Item Start -->
          <div class="why-choose-item wow fadeInUp">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="assets/img/icons/icon-why-us-1.svg" alt="">
            </div>
            <!-- Icon Box End -->

            <!-- Why Choose Content Start -->
            <div class="why-choose-content">
              <h3>Doctori cu experienta</h3>
              <p>Scopul clinicii noastre este de a oferi servicii stomatologice de top și</p>
            </div>
            <!-- Why Choose Content End -->
          </div>
          <!-- Why Choose Item End -->

          <!-- Why Choose Item Start -->
          <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="assets/img/icons/icon-why-us-2.svg" alt="">
            </div>
            <!-- Icon Box End -->

            <!-- Why Choose Content Start -->
            <div class="why-choose-content">
              <h3>Servicii personalizate</h3>
              <p>Ne adaptăm nevoilor și programului fiecărui pacient și</p>
            </div>
            <!-- Why Choose Content End -->
          </div>
          <!-- Why Choose Item End -->

          <!-- Why Choose Item Start -->
          <div class="why-choose-item wow fadeInUp" data-wow-delay="0.5s">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="assets/img/icons/icon-why-us-3.svg" alt="">
            </div>
            <!-- Icon Box End -->

            <!-- Why Choose Content Start -->
            <div class="why-choose-content">
              <h3>Opțiuni flexibile de plată</h3>
              <p>Poti plati cu cardul sau contul bancar, poti plati in rate fara dobanda și</p>
            </div>
            <!-- Why Choose Content End -->
          </div>
          <!-- Why Choose Item End -->
        </div>
        <!-- Why Choose Box Start -->
      </div>

      <div class="col-lg-4 order-lg-1 order-md-2 order-1">
        <!-- Why Choose Image Start -->
        <div class="why-choose-image wow fadeInUp">
          <figure>
            <img src="assets/img/general/why-choose-us-img.webp" alt="">
          </figure>
        </div>
        <!-- Why Choose Image End -->
      </div>

      <div class="col-lg-4 col-md-6 order-lg-2 order-md-1 order-2">
        <!-- Why Choose Box Start -->
        <div class="why-choose-box-2">
          <!-- Why Choose Item Start -->
          <div class="why-choose-item wow fadeInUp">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="assets/img/icons/icon-why-us-4.svg" alt="">
            </div>
            <!-- Icon Box End -->

            <!-- Why Choose Content Start -->
            <div class="why-choose-content">
              <h3>Servicii de urgenta</h3>
              <p>Suntem aici pentru clienții noștri și încercăm mereu să găsim cea mai bună soluție în
                orice moment și
              </p>
            </div>
            <!-- Why Choose Content End -->
          </div>
          <!-- Why Choose Item End -->

          <!-- Why Choose Item Start -->
          <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="assets/img/icons/icon-why-us-5.svg" alt="">
            </div>
            <!-- Icon Box End -->

            <!-- Why Choose Content Start -->
            <div class="why-choose-content">
              <h3>Review-uri pozitie ale clientilor</h3>
              <p>Cu un scor total de 4.8 din 5 pe google, scopul nostru este ca fiecare client sa fie
                multumit de
                serviciile primite și </p>
            </div>
            <!-- Why Choose Content End -->
          </div>
          <!-- Why Choose Item End -->

          <!-- Why Choose Item Start -->
          <div class="why-choose-item wow fadeInUp" data-wow-delay="0.5s">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="assets/img/icons/icon-why-us-6.svg" alt="">
            </div>
            <!-- Icon Box End -->

            <!-- Why Choose Content Start -->
            <div class="why-choose-content">
              <h3>Ultima tehnologie</h3>
              <p>Ne incapatanam sa folosim ultimele tehnologii si metodologii de lucru de pe piata</p>
            </div>
            <!-- Why Choose Content End -->
          </div>
          <!-- Why Choose Item End -->
        </div>
        <!-- Why Choose Box Start -->
      </div>
    </div>
  </div>
  <!-- Icon Start Image Start -->
  <div class="icon-star-image">
    <img src="assets/img/icons/icon-star.svg" alt="">
  </div>
  <!-- Icon Start Image End -->
</div>
<!-- Why Choose Us Section End -->

<!-- Dental Process Start -->
<div class="dental-process">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">Procesul de Implant Dentar</h3>
          <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Te ghidăm</span> spre sănătatea zâmbetului tău</h2>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Dental Process Item Start -->
        <div class="dental-process-item wow fadeInUp">
          <!-- Dental Process Image Start -->
          <div class="dental-process-image">
            <div class="dental-process-img">
              <figure class="image-anime">
                <img src="assets/img/general/dental-process-img-1.webp" alt="">
              </figure>
            </div>

            <div class="dental-process-number">
              <h3>01</h3>
            </div>
          </div>
          <!-- Dental Process Image End -->

          <!-- Dental Process Content Start -->
          <div class="dental-process-content">
            <h3>Consultație inițială</h3>
            <p>Scopul clinicii noastre este să oferim servicii stomatologice prietenoase și de calitate.</p>
          </div>
          <!-- Dental Process Content End -->
        </div>
        <!-- Dental Process Item End -->
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- Dental Process Item Start -->
        <div class="dental-process-item wow fadeInUp" data-wow-delay="0.25s">
          <!-- Dental Process Image Start -->
          <div class="dental-process-image">
            <div class="dental-process-img">
              <figure class="image-anime">
                <img src="assets/img/general/dental-process-img-2.webp" alt="">
              </figure>
            </div>

            <div class="dental-process-number">
              <h3>02</h3>
            </div>
          </div>
          <!-- Dental Process Image End -->

          <!-- Dental Process Content Start -->
          <div class="dental-process-content">
            <h3>Extracția dintelui</h3>
            <p>Oferim tratamente stomatologice de top, inclusiv generale, estetice și specializate. </p>
          </div>
          <!-- Dental Process Content End -->
        </div>
        <!-- Dental Process Item End -->
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- Dental Process Item Start -->
        <div class="dental-process-item wow fadeInUp" data-wow-delay="0.5s">
          <!-- Dental Process Image Start -->
          <div class="dental-process-image">
            <div class="dental-process-img">
              <figure class="image-anime">
                <img src="assets/img/general/dental-process-img-3.webp" alt="">
              </figure>
            </div>

            <div class="dental-process-number">
              <h3>03</h3>
            </div>
          </div>
          <!-- Dental Process Image End -->

          <!-- Dental Process Content Start -->
          <div class="dental-process-content">
            <h3>Adiție osoasă</h3>
            <p>Utilizăm tehnici moderne și eficiente recunoscute pe plan internațional.</p>
          </div>
          <!-- Dental Process Content End -->
        </div>
        <!-- Dental Process Item End -->
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- Dental Process Item Start -->
        <div class="dental-process-item wow fadeInUp" data-wow-delay="0.75s">
          <!-- Dental Process Image Start -->
          <div class="dental-process-image">
            <div class="dental-process-img">
              <figure class="image-anime">
                <img src="assets/img/general/dental-process-img-4.webp" alt="">
              </figure>
            </div>

            <div class="dental-process-number">
              <h3>04</h3>
            </div>
          </div>
          <!-- Dental Process Image End -->

          <!-- Dental Process Content Start -->
          <div class="dental-process-content">
            <h3>Montarea coroanei</h3>
            <p>Ne dedicăm să oferim îngrijire stomatologică prietenoasă și de încredere.</p>
          </div>
          <!-- Dental Process Content End -->
        </div>
        <!-- Dental Process Item End -->
      </div>
    </div>
  </div>
</div>
<!-- Dental Process End -->

<!-- Our Serviceds Section Start -->
<div class="our-services">
  <!-- Expertise Experience Section Start -->
  <div class="expertise-experience">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!-- Expertise Experience Content Start -->
          <div class="expertise-experience-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">Despre Noi</h3>
              <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Călătoria ta</span> către un
                zâmbet mai sănătos
                începe aici!</h2>
              <p class="wow fadeInUp" data-wow-delay="0.25s">Scopul clinicii noastre este să oferim
                servicii
                stomatologice
                prietenoase și grijulii, alături de cele mai înalte standarde în tratamente generale,
                estetice și de
                specialitate.</p>
            </div>
            <!-- Section Title End -->

            <!-- Expertise Experience Body Start -->
            <div class="expertise-experience-body wow fadeInUp" data-wow-delay="0.5s">
              <ul>
                <li>echipă experimentată</li>
                <li>servicii complete</li>
                <li>tehnologie de ultimă generație</li>
                <li>servicii stomatologice de urgență</li>
              </ul>
            </div>
            <!-- Expertise Experience Body Body End -->
          </div>
          <!-- Expertise Experience Content End -->
        </div>

        <div class="col-lg-6">
          <!-- Expertise Experience Image Start -->
          <div class="expertise-experience-img">
            <figure class="image-anime reveal">
              <img src="assets/img/general/expertise-experience-img.webp" alt="">
            </figure>
          </div>
          <!-- Expertise Experience Image End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Expertise Experience Section End -->

  <!-- Intro Clinic Video Section Start -->
  <div class="intro-clinic-video">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <!-- Visit Clinic Start -->
          <div class="visit-clinic parallaxie">
            <!-- Visit Clinic Content Start -->
            <div class="visit-clinic-content">
              <!-- Section Title Start -->
              <div class="section-title">
                <h3 class="wow fadeInUp">Viziteaza-ne Clinica</h3>
                <h2 class="text-anime-style-2" data-cursor="-opaque">
                  <div style="position:relative;display:inline-block;">
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      Î</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      n</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      g</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      r</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      i</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      j</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      i</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      r</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      e</div>
                  </div>
                  <div style="position:relative;display:inline-block;width:10px;"></div>
                  <div style="position:relative;display:inline-block;">
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      D</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      e</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      n</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      t</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      a</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      r</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      ă</div>
                  </div>
                  <div style="position:relative;display:inline-block;width:10px;"></div>
                  <div style="position:relative;display:inline-block;">
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      P</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      e</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      n</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      t</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      u</div>
                  </div>
                  <div style="position:relative;display:inline-block;width:10px;"></div>
                  <div style="position:relative;display:inline-block;">
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      T</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      o</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      a</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      t</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      e</div>
                  </div>
                  <div style="position:relative;display:inline-block;width:10px;"></div>
                  <div style="position:relative;display:inline-block;">
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      V</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      â</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      r</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      s</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      t</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      e</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      l</div>
                    <div
                      style="position: relative; display: inline-block; opacity: 1; visibility: inherit; transform: translate(0px, 0px);">
                      e</div>
                  </div>
                </h2>
              </div>
              <!-- Section Title End -->

              <!-- Visit Clinic Btn Start -->
              <div class="visit-clinic-btn wow fadeInUp" data-wow-delay="0.25s" data-cursor-text="Play">
                <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video play-btn">play
                  video</a>
              </div>
              <!-- Visit Clinic Btn End -->
            </div>
            <!-- Visit Clinic Content End -->
          </div>
          <!-- Visit Clinic End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Intro Clinic Video Section End -->

  <!-- Our Counter Section Start -->
  <div class="our-counter">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Counter Item Start -->
          <div class="counter-item">
            <!-- Counter Title Start -->
            <div class="counter-title">
              <h2><span class="counter">75</span>+</h2>
              <h3>Cazuri asigurate medical</h3>
            </div>
            <!-- Counter Title End -->

            <!-- Counter Content Start -->
            <div class="counter-content">
              <p>Un plus de responsabilitate cu un plus de sanatate dentara</p>
            </div>
            <!-- Counter Content End -->
          </div>
          <!-- Counter Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Counter Item Start -->
          <div class="counter-item">
            <!-- Counter Title Start -->
            <div class="counter-title">
              <h2><span class="counter">02</span>K</h2>
              <h3>Proiecte realizate</h3>
            </div>
            <!-- Counter Title End -->

            <!-- Counter Content Start -->
            <div class="counter-content">
              <p>De la proiecte educative de sanatate dentara in scoli pana la discutii cu profesori universitari</p>
            </div>
            <!-- Counter Content End -->
          </div>
          <!-- Counter Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Counter Item Start -->
          <div class="counter-item">
            <!-- Counter Title Start -->
            <div class="counter-title">
              <h2><span class="counter">5</span>K</h2>
              <h3>Clienti multumiti</h3>
            </div>
            <!-- Counter Title End -->

            <!-- Counter Content Start -->
            <div class="counter-content">
              <p>In ciuda faptului ca suntem o clinica noua, o multime de clienti ne-au trecut deja pragul alegand sa
                aiba
                grija de zambetul lor</p>
            </div>
            <!-- Counter Content End -->
          </div>
          <!-- Counter Item End -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Counter Item Start -->
          <div class="counter-item">
            <!-- Counter Title Start -->
            <div class="counter-title">
              <h2><span class="counter">5</span>+</h2>
              <h3>Doctori cu experienta</h3>
            </div>
            <!-- Counter Title End -->

            <!-- Counter Content Start -->
            <div class="counter-content">
              <p>Clinica noastra este in continua dezvoltare, numarul colegilor nostri fiind in continua crestere</p>
            </div>
            <!-- Counter Content End -->
          </div>
          <!-- Counter Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Counter Section End -->

  <!-- Icon Start Image Start -->
  <div class="icon-star-image">
    <img src="assets/img/icons/icon-star.svg" alt="">
  </div>
  <!-- Icon Start Image End -->
</div>
<!-- Our Serviceds Section End -->

<!-- Our Team Start -->
<div class="our-team">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">Echipa Noastra</h3>
          <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Echipa noastra </span> de profesionisti</h2>
          <p class="wow fadeInUp" data-wow-delay="0.25s">
            Suntem dedicați oferirii celor mai bune servicii stomatologice, cu un accent deosebit pe confortul și
            sănătatea pacientului.
          </p>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <!-- Team Grid Start -->
    <div class="team-grid">
      <div *ngFor="let member of firstFourTeamMembers; let i = index" class="team-member-item wow fadeInUp"
        [attr.data-wow-delay]="i * 0.2 + 's'">
        <!-- Team Image Start -->
        <div class="team-image">
          <figure class="image-anime">
            <img [src]="member.image" [alt]="member.name" />
          </figure>
          <!-- Team Social Icon Start -->
          <!-- <div class="team-social-icon">
            <ul>
              <li *ngFor="let social of member.socialLinks">
                <a [href]="social.url" class="social-icon" target="_blank">
                  <i [class]="social.icon"></i>
                </a>
              </li>
            </ul>
          </div> -->
          <!-- Team Social Icon End -->
        </div>
        <!-- Team Image End -->

        <!-- Team Content Start -->
        <div class="team-content">
          <h3>{{ member.name }}</h3>
          <p *ngFor="let role of member.roles" class="role">{{ role }}</p>
        </div>
        <!-- Team Content End -->
      </div>
    </div>
    <!-- Team Grid End -->
  </div>
  <div class="col-lg-12">
    <!-- Service Box Footer Start -->
    <div class="services-box-footer wow fadeInUp" data-wow-delay="1s">
      <a href="/echipa" class="btn-default">Vezi toata echipa</a>
    </div>
    <!-- Service Box Footer End -->
  </div>
  <!-- Icon Start Image Start -->
  <div class="icon-star-image">
    <img src="assets/img/icons/icon-star.svg" alt="">
  </div>
  <!-- Icon Start Image End -->
</div>
<!-- Our Team End -->

<!-- Our Testiminial Start -->
<div class="our-testimonials">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">Testimoniale</h3>
          <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Ce spun </span> Clienții noștri</h2>
          <p class="wow fadeInUp" data-wow-delay="0.25s">Descoperă poveștile pacienților noștri și află cum i-am ajutat
            să își recâștige zâmbetul și încrederea.</p>
        </div>
        <!-- Section Title End -->
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-5">
        <!-- Testiminial Image Start -->
        <div class="testimonial-image">
          <div class="testimonial-img">
            <figure class="reveal image-anime">
              <img src="assets/img/carousel/home-3.webp" alt="">
            </figure>
          </div>

          <!-- Terstimonial Rating Box Start -->
          <div class="testimonial-rating-box">
            <!-- Counter Item Start -->
            <div class="rating-counter-item">
              <div class="rating-counter-number">
                <h3><span class="counter">5</span>/5</h3>
              </div>

              <div class="rating-counter-content">
                <p>Acest rating a fost acordat de utilizatori după vizita la clinica noastră</p>
              </div>
            </div>
            <!-- Counter Item End -->

            <!-- Service Rating Start -->
            <div class="service-rating">
              <ul>
                <li>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-alt"></i>
                </li>
                <li>pentru servicii de excelență</li>
              </ul>
            </div>
            <!-- Service Rating End -->
          </div>
          <!-- Terstimonial Rating Box End -->
        </div>
        <!-- Testiminial Image End -->
      </div>

      <div class="col-lg-7">
        <!-- Testimonial Slider Start -->
        <div class="testimonial-slider">
          <div class="swiper">
            <div class="swiper-wrapper" data-cursor-text="Trage">
              <!-- Testimonial Slide Start -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-header">
                    <div class="testimonial-quote-image">
                      <img src="assets/img/icons/icon-testimonial-quote.svg" alt="">
                    </div>
                    <div class="testimonial-content">
                      <p style="text-indent: 30px;">"Am avut o experiență foarte plăcută și sunt extrem de mulțumit de
                        serviciile oferite. De la prima programare, totul a fost foarte bine organizat, iar comunicarea
                        cu personalul a fost impecabilă.</p>
                      <p style="text-indent: 30px;">Medicul a fost foarte atent la nevoile mele, mi-a explicat fiecare
                        etapă a tratamentului și s-a asigurat că mă simt confortabil pe tot parcursul procedurii.</p>
                      <p style="text-indent: 30px;">Clinica este modernă, curată și echipată cu tehnologie de ultimă
                        generație, ceea ce se simte în calitatea tratamentelor. În plus, programările sunt respectate,
                        fără timpi mari de așteptare.</p>
                      <p style="text-indent: 30px;">Recomand cu încredere tuturor celor care caută un dentist de
                        încredere și servicii de top!"</p>
                    </div>
                  </div>
                  <div class="testimonial-body">
                    <div class="author-image">
                      <figure class="image-anime">
                        <img src="assets/img/general/review-1-stefan-croitoru.webp" alt="">
                      </figure>
                    </div>
                    <div class="author-content">
                      <h3>Stefan Croitoru</h3>
                      <!-- <p>Programator</p> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial Slide End -->

              <!-- Testimonial Slide Start -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-header">
                    <div class="testimonial-quote-image">
                      <img src="assets/img/icons/icon-testimonial-quote.svg" alt="">
                    </div>
                    <div class="testimonial-content">
                      <p style="text-indent: 30px;">"Am început să merg la domnul doctor Bogdan Baciu acum doi ani, la
                        recomandarea prietenului meu care a avut mai multe
                        lucrări făcute de el cu mulți ani înainte (coroane, plombe, obturații de canal), toate fiind
                        lucrate cu grijă, dedicare și trecând testul timpului.</p>
                      <p style="text-indent: 30px;">De doi ani de zile, de când mă duc la domnul doctor, nu am ce să îi
                        reproșez, ci am doar cuvinte de laudă pentru el.</p>
                      <p style="text-indent: 30px;">Plombele mele sunt bine și îi sunt recunoscătoare pentru grija,
                        pasiunea, recomandările și explicațiile primite pe parcursul consultațiilor,
                        ele ajutându-mă să îmi protejez mai bine dinții și să nu am lucrări inutile în cavitatea bucală.
                      </p>
                    </div>
                  </div>
                  <div class="testimonial-body">
                    <div class="author-image">
                      <figure class="image-anime">
                        <img src="assets/img/general/review-2-andreea-pavel.webp" alt="">
                      </figure>
                    </div>
                    <div class="author-content">
                      <h3>Andreea Pavel</h3>
                      <!-- <p>Profesor</p> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial Slide End -->

              <!-- Testimonial Slide Start -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-header">
                    <div class="testimonial-quote-image">
                      <img src="assets/img/icons/icon-testimonial-quote.svg" alt="">
                    </div>
                    <div class="testimonial-content">
                      <p style="text-indent: 30px;">"Am avut o experiență excelentă la acest cabinet stomatologic. De la
                        prima programare, am fost impresionata de organizare și de modul în care sunt tratați pacienții.
                      </p>
                      <p style="text-indent: 30px;">Medicul mi-a explicat fiecare pas al tratamentului, ceea ce m-a
                        făcut să mă simt în siguranță. Instrumentele sunt moderne, iar igiena este impecabilă.</p>
                      <p style="text-indent: 30px;">Mulțumesc echipei pentru profesionalism și pentru zâmbetul cu care
                        am plecat de fiecare dată!"</p>
                    </div>
                  </div>
                  <div class="testimonial-body">
                    <div class="author-image">
                      <figure class="image-anime">
                        <img src="assets/img/general/review-3-daniela-simion-danicescu.webp" alt="">
                      </figure>
                    </div>
                    <div class="author-content">
                      <h3>Daniela Simion Danicescu</h3>
                      <!-- <p>Designer</p> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial Slide End -->
            </div>
            <div class="testimonial-btn">
              <div class="testimonial-button-prev"></div>
              <div class="testimonial-button-next"></div>
            </div>
          </div>
        </div>
        <!-- Testimonial Slider End -->
        <!-- Google Reviews Button -->
        <div class="about-us-footer wow fadeInUp" data-wow-delay="0.75s" style="margin-top: 20px;">
          <a href="https://www.google.com/maps/place/Clinica+Edentall/@45.6730204,25.5998701,17z/data=!4m8!3m7!1s0x40b35b2475046bb7:0x3c0cf2813d1a453d!8m2!3d45.6730167!4d25.602445!9m1!1b1!16s%2Fg%2F11wx8lndll?authuser=1&entry=ttu&g_ep=EgoyMDI1MDMwMi4wIKXMDSoASAFQAw%3D%3D"
            class="btn-default">
            Lasă un Review ⭐
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Testiminial End -->