<main id="main" class="">
    <div id="content" role="main" class="content-area">
      <div class="banner has-hover" id="banner-189336614">
        <div class="banner-inner fill">
          <div class="banner-bg fill">
            <div class="bg fill bg-fill bg-loaded"></div>
          </div>
  
          <div class="banner-layers container">
            <div class="fill banner-link"></div>
  
            <div id="text-box-403974031" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
              <div class="text-box-content text dark">
                <div class="text-inner text-center">
                  <div id="text-2245390978" class="text hide-for-medium">
                    <h2>Termeni și condiții</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div id="gap-2063553563" class="gap-element clearfix" style="display:block; height:auto;"></div>
  
        <div class="row" id="row-898830239">
          <div id="col-496249303" class="col small-12 large-12">
            <div class="col-inner">
              <p><b>GENERALITATI</b></p>
              <ul>
                <li>Folosirea (vizitarea sau comandarea serviciilor) acestui site implica acceptarea acestor termeni si
                  conditii.</li>
                <li>Pentru folosirea in bune conditii a site-ului, se recomanda citirea cu atentie a termenilor si
                  conditiilor.</li>
                <li>Societatea <strong>DENTAL ARCHITECT</strong><b>&nbsp;S.R.L.</b>&nbsp;isi asuma dreptul de a face modificari
                  ale acestor prevederi, fara o notificare prealabila.</li>
                <li><strong>dentalarchitect</strong><b>.ro</b> este un site destinat adultilor ce au implinit varsta legala de
                  18 ani.</li>
                <li>Accesand pagina&nbsp;<i>„Termeni si conditii”</i>&nbsp;puteti citi intotdeauna cea mai recenta
                  versiune a acestor prevederi.</li>
              </ul>
  
              <p><b>DEFINITII</b></p>
              <ul>
                <li>Acest site este intretinut si administrat de <strong>DENTAL ARCHITECT</strong><b>&nbsp;</b><b>S.R.L.</b>&nbsp;(legal
                  inregistrata), care va fi denumita in continuare&nbsp;<b>Societate</b>.</li>
                <li>Persoana care comanda si achizitioneaza servicii, prin intermediul site-ului <strong>dentalarchitect</strong><b>.ro</b>,
                  este denumita&nbsp;<b>Client</b>.</li>
                <li>Adresa web care este proprietatea Societatii (<strong>dentalarchitect</strong><b>.ro</b>), va fi denumita generic
                  site-ul <strong>dentalarchitect</strong><b>.ro</b>.</li>
                <li>Fotografiile digitale, textele, datele tehnice, preturile si celelalte informatii care se gasesc pe
                  site-ul <strong>dentalarchitect</strong><b>.ro</b>, vor fi denumite in continuare&nbsp;<b>continut</b>.</li>
              </ul>
  
              <p><b>DREPTURI DE AUTOR</b></p>
              <ul>
                <li>Intregul continut al site-ului <strong>dentalarchitect</strong><b>.ro</b>&nbsp;este proprietatea Societatii sau a
                  clientilor sai, fiind aparat de legea pentru protectia drepturilor de autor (Legea nr. 8/1996).</li>
                <li>Folosirea fara acordul Societatii, a oricaror elemente din web site, se pedepseste in conformitate cu legile in
                  vigoare (administrativ, civil sau penal).</li>
                <li>Astfel, sunt interzise in mod expres: accesarea site-ului&nbsp;<strong>dentalarchitect<b>.ro</b></strong>&nbsp;de
                  catre dispozitive sau programe automate, sau copierea manuala a continutului, precum si citirea sau
                  publicarea continutului de catre alte companii sau site-uri, pentru a face comparatie sau analiza in vreun
                  fel.</li>
                <li>Fotografiile si datele sunt folosite cu acordul clientilor.</li>
                <li>Problemele legate de drepturile de proprietate intelectuala, se raporteaza la urmatoarea adresa de e-mail:
                  <b>office&#64;dentalarchitect</b><b>.ro</b>.</li>
              </ul>
  
              <p><b>POLITICA DE CONFIDENTIALITATE</b></p>
              <ul>
                <li>Accesul acestui site de catre dumneavoastra se supune Politicii de confidentialitate si implica acceptul
                  dumneavoastra cu privire la aceasta, reprezentand o intelegere intre parti.</li>
                <li>Dental Architect se angajeaza sa foloseasca datele furnizate de utilizatorii site-ului numai in scopul realizarii
                  unei relatii contractuale cu acestia si pentru transmiterea de informatii privind functionarea site-ului si
                  existenta unor oferte, promotii sau noi servicii oferite.</li>
                <li>Dental Architect nu promoveaza SPAM-ul si nu furnizeaza adresa dumneavoastra de e-mail unor terti.</li>
                <li>Dental Architect va respecta drepturile conferite de Legea nr. 677/2001 completata cu legea nr. 506/2004 privind
                  prelucrarea datelor cu caracter personal si libera circulatie a acestor date.</li>
                <li>Dental Architect utilizeaza adresele IP ale utilizatorilor doar pentru statistici de uz intern, afisarea de
                  informatii personalizate si pentru o securitate sporita a site-ului.</li>
                <li>Dental Architect isi rezerva dreptul de a modifica si actualiza in orice moment continutul acestui site fara o
                  notificare prealabila.</li>
                <li>Conform Legii nr. 677/2001, beneficiati de dreptul de acces, de interventie asupra datelor, dreptul de a nu
                  fi supus unei decizii individuale si dreptul de a va adresa justitiei. Totodata, aveti dreptul sa va
                  opuneti prelucrarii datelor personale care va privesc si sa solicitati stergerea datelor. Pentru
                  exercitarea acestor drepturi, va puteti adresa cu o cerere scrisa, datata si semnata la
                  <b>office&#64;<strong>dentalarchitect</strong>.ro</b>.</li>
                <li>De asemenea, va este recunoscut dreptul de a va adresa justitiei.</li>
                <li>Daca unele din datele despre dumneavoastra sunt incorecte, va rugam sa ne informati cat mai curand
                  posibil.</li>
              </ul>
  
              <p><b>POLITICA DE PRETURI SI SERVICII</b></p>
              <ul>
                <li>Societatea isi rezerva dreptul de a modifica preturile, oricand, fara o notificare in prealabil.</li>
              </ul>
  
              <p><b>POLITICA REMARKETING</b></p>
              <p align="justify">In paginile site-ului web <strong>dentalarchitect</strong><b>.ro</b>, folosim etichete pentru remarketing
                (remarketing tag) si un cod de conversie, primite de la Google Adwords prin care colectam cookie-uri (numar
                ce identifica in mod unic un browser web de pe un anumit computer, nu o persoana). Eticheta pentru remarketing
                Google colecteaza cookie-uri in vederea afisarii unor anunturi in website-urile retelei Google Display si in
                Google Search.</p>
              <p align="justify">Cand utilizatorii viziteaza o pagina a website-ului care contine remarketing tag, cookie-ul
                browser-ului pe care il folosesc este adaugat unei liste pentru remarketing. O lista pentru remarketing este un
                set de module cookie de utilizator, generate de una sau de mai multe etichete pentru remarketing.</p>
              <p align="justify">Google AdWords foloseste cookie-urile pentru a afisa anunturi sponsorizate in website-urile retelei
                Google Display si in Google Search utilizatorilor care au vizitat paginile website-ului
                <strong>dentalarchitect</strong><b>.ro</b>.</p>
              <p align="justify">In cazul in care nu esti de acord cu utilizarea modulelor cookie de catre Google, dezactivarea se
                poate face prin Managerul preferintelor anunturilor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
