<main id="main" class="">
    <div id="content" role="main" class="content-area">
       <div class="banner has-hover" id="banner-1478717902">
          <div class="banner-inner fill">
             <div class="banner-bg fill">
                <div class="bg fill bg-fill bg-loaded"></div>
             </div>
             <div class="banner-layers container">
                <div class="fill banner-link"></div>
                <div id="text-box-321432833" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                   <div class="text-box-content text dark">
                      <div class="text-inner text-center">
                         <div id="text-2079755375" class="text hide-for-medium">
                            <h2>Confidențialitate</h2>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div id="gap-799981853" class="gap-element clearfix" style="display:block; height:auto;">
       </div>
       <div class="row" id="row-45062182">
          <div id="col-102698269" class="col small-12 large-12">
             <div class="col-inner">
                <p><b>INTRODUCERE</b></p>
                <ul>
                    <p align="justify">Clientii nostri se afla in centrul a tot ceea ce facem. Prin urmare, pe langa faptul ca incercam sa oferim valoare si servicii excelente, iti protejam confidentialitatea in moduri eficiente impotriva abuzurilor, respectand legislatia nationala, europeana si inclusiv Regulamentul (UE) nr. 679/2016.</p>
                    <p align="justify">Pentru&nbsp; <strong>DENTAL ARCHITECT</strong><b>&nbsp;S.R.L.</b>&nbsp;intimitatea ta este foarte importanta si o luam in serios. Scopul aceastei politici de confidentialitate este de a explica modalitatea in care colectam, folosim si dezvaluim informatii despre tine pe site-ul nostru si / sau altor terti cu care avem contract de confidentialitate cu privire la prelucrarea datelor cu caracter personal. Prin utilizarea website-ului nostru, esti de acord cu aceasta politica de confidentialitate.</p>
                    <p align="justify">In plus, drepturile si optiunile tale sunt la fel de importante pentru noi si de aceea prin intermediul acestei politici de confidentialitate te informam, clar si explicit, cu privire la acestea si modalitatile prin care ne poti contacta pentru a-ti actualiza informatiile sau orice alt drept.</p>
                </ul>
                <p><b>DESPRE NOI</b></p>
                <ul>
                    <p align="justify">Website-ul este operat si detinut de <strong>DENTAL ARCHITECT </strong><b>S.R.L.</b> cu sediul social in Strada Ciocarliei 4, Brasov, jud. Brasov, inmatriculata la registrul comertului sub J8/730/2023, cod de identificare fiscala 38612473.</p>
                    <p align="justify">Daca doresti si alte informatii despre noi, nu ezita sa ne contactezi pe email la <strong>office&#64;dentalarchitect</strong><b>.ro</b>.</p>
                </ul>
                <p><b>DESPRE TINE</b></p>
                <ul>
                    <p align="justify">Tu esti beneficiarul serviciilor noastre sub o forma sau alta, fiind o persoana vizata. Astfel, pentru tine, am modificat politica de confidentialitate. Dorim sa fim complet transparenti cu privire la modul in care iti prelucram datele cu caracter personal si dorim sa iti facilitam accesul la modificarea, actualizarea sau chiar stergerea acestora.</p>
                </ul>
                <p><b>DE CE AVEM O POLITICA DE CONFIDENTIALITATE</b></p>
                <ul>
                    <p align="justify">Avem aceasta politica de confidentialitate deoarece vom colecta unele informatii personale despre tine, atunci cand utilizezi website-ul nostru sau cand iei legatura cu noi prin intermediul formularului de contact atunci cand ai nelamuriri cu privire la un serviciu.</p>
                    <p align="justify">Scopul politicii noastre de confidentialitate este de a te informa cu privire la:</p>
                <ul>
                    <li>cum si de ce iti colectam informatiile personale</li>
                    <li>modul in care dezvaluim informatiile tale personale si pentru cine</li>
                    <li>modul in care iti protejam informatiile personale</li>
                    <li>drepturile tale legale si cum esti protejat de lege</li>
                </ul>
                </ul>
                <p><b>MODIFICARI ALE POLITICII DE CONFIDENTIALITATE</b></p>
                <ul>
                    <p align="justify">Daca vom aduce orice modificari politicii noastre de confidentialitate, le vom posta in aceasta pagina. Totodata, daca sunt schimbari majore te vom informa si pe tine printr-un email. Astfel, vei fi pus la curent oricand!</p>
                </ul>
                <p><b>CARE ESTE TEMEIUL LEGAL PENTRU PRELUCRAREA DATELOR TALE PERSONALE</b></p>
                <ul>
                    <p align="justify">Prelucrarea datelor tale cu caracter personal este folosita oricand iti dai acceptul in legatura cu acest lucru, oricand accesezi website-ul nostru,&nbsp; &nbsp;oricand se incheie orice fel de contract intre noi si oricand completezi unul dintre formularele din website.</p>
                    <p align="justify">Acordul tau se va cere in mod explicit inainte de a realiza orice actiune si il vei putea revoca cu aceeasi usurinta cu care l-ai acordat. Daca intampini dificultati te rugam sa ne informezi pe adresa de e-mail <strong>office&#64;dentalarchitect</strong><b>.ro</b>&nbsp;pentru solutionarea cererii tale.</p>
                    <p align="justify"><b>CE INFORMATII COLECTAM DE LA TINE</b></p>
                    <p align="justify">Colectam anumite informatii personale de la tine, astfel incat sa te putem identifica pentru a ne putea atinge scopul in vederea solicitarilor tale. Mentionam ca nu vom vinde niciodata datele tale personale, dar totodata in cazul in care in viitor vom vinde afacerea sau parti din ea, aceste date vor fi transferate.&nbsp;</p>
                    <p align="justify">Astfel, informatiile pe care le colectam includ:</p>
                    <ul>
                        <li>date de contact (nume complet, e-mail, adresa, numar de telefon, data nasterii si orice alte informatii relevante de care avem nevoie pentru a te contacta sau identifica)</li>
                        <li>date de utilizare (informatii despre modul in care utilizezi website-ul nostru si serviciile noastre)</li>
                        <li>date de marketing si comunicare (preferintele tale cu privire la primirea materialelor de marketing si cum preferi sa comunici cu noi)</li>
                        <li>nu prelucram si nu colectam date cu caracter personal de la persoane cu varsta sub 16 ani, decat cu acordul scris al parintilor si trimis pe adresa de email <strong>office&#64;dentalarchitect</strong><b>.ro</b><b>.</b></li>
                    </ul>
                    </ul>
                <p align="justify"><b>CAND COLECTAM INFORMATII DE LA TINE</b></p>
                <ul>
                <p align="justify">Colectam datele tale atunci cand:</p>
                    <ul>
                        <li>accesezi website-ul nostru</li>
                        <li>ori de cate ori completezi formularul nostru de contact sau alte formulare conexe</li>
                        <li>optezi pentru inscrierea la newsletter sau alte materiale de marketing din partea noastra,</li>
                        <li>te inscrii pentru participarea la un eveniment organizat de noi</li>
                        <li>ne contactezi prin diferite canale pe care ti le oferim</li>
                    </ul>
                </ul>
                <p><b>COLECTAM SI DATE NON-PERSONALE</b></p>
                <ul>
                    <p align="justify">Colectam date, intr-o forma sau alta, care nu permit asocierea directa cu o persoana. Spre exemplu, deseori colectam activitatile tale pe website-ul nostru. Acest tip de date sunt anonime inainte de a fi stocate pe serverele noastre si sunt utilizate doar pentru a ne ajuta sa imbunatatim experienta clientilor nostri si pentru a intelege care parti ale website-ului nostru sunt de interes.</p>
                </ul>
                <p><b>FOLOSIM GOOGLE ANALYTICS</b></p>
                <ul>
                    <p align="justify">Website-ul nostru foloseste Google Analytics, un serviciu de analiza web furnizat de Google. Astfel, Google Analytics utilizeaza cookie-uri sau diverse adrese IP pentru a analiza modul in care utilizatorii folosesc website-ul si pentru monitorizarea serviciile si produselor noastre. Informatiile generate de adresa IP sau cookie vor fi transmise si stocate de Google pe servere. Google va utiliza toate aceste informatii in numele nostru pentru a evalua utilizarea website-ului nostru. Poti refuza utilizarea cookie-urilor prin selectarea setarilor corespunzatoare din browser, insa retine ca este posibil sa nu poti utiliza toate functiile oferite de website-ul nostru dupa aceea.</p>
                </ul>
                <p><b>CUM ITI PROCESAM DATELE PERSONALE</b></p>
                <ul>
                    <p align="justify">Ne asiguram constant si aplicam tehnici adecvate pentru protejarea datelor tale personale. Operatiile de procesare pe care le realizam cu privire la datele tale cu caracter personal acopera mijloace automate si manuale de colectare (inregistram, organizam, structuram, stocam, modificam la cererea ta, utilizam, transmitem catre terti doar atunci cand e cazul si le stergem la cererea ta sau in mod automat la expirarea lor).</p>
                </ul>
                <p align="justify"><b>DE CE ITI FOLOSIM DATELE PERSONALE</b></p>
                <ul>
                    <p align="justify">Folosim datele tale personale in urmatoarele scopuri:</p>
                <ul>
                   <li>pentru a-ti oferi acces la serviciile noastre</li>
                   <li>pentru a te informa cu privire la anumite oferte, produse, servicii sau actualizari</li>
                   <li>pentru a putea intra in contact cu tine si pentru a-ti putea raspunde la intrebarile si/sau solicitarile tale</li>
                   <li>pentru a-ti oferi o experienta deosebita si personalizata pe website-ul nostru</li>
                   <li>pentru a personaliza si imbunatati serviciile si strategia de marketing in functie de istoricul tau de navigare, interesele pe care le ai sau anumite preferinte.</li>
                   <li>pentru a te contacta atunci cand efectuam cercetari de piata cu privire la opiniile tale cu privire la website-ul si serviciile noastre</li>
                   <li>pentru a preveni sau detecta abuzurile sau fraudele de pe website</li>
                   <li>orice alt drept stipulat in &nbsp;legea nr. 677/2001 si legea nr. 506/2004&nbsp;</li>
                </ul>
                </ul>
                <p align="justify"><b>CUI PUTEM DEZVALUI DATELE TALE PERSONALE</b></p>
                <ul>
                   <li><i>Partenerilor nostri logistici autorizati</i>, doar atunci cand este cazul si doar atunci cand acestia trebuie sa intermedieze un serviciu pentru noi cand acesta este solicitat de catre tine</li>
                   <li><i>Angajatilor nostri,&nbsp;</i>pentru a putea indeplini solicitarile tale</li>
                   <li><i>Partenerilor nostri de marketing, dezvoltare si de monitorizare,</i>&nbsp;pentru a putea realiza campaniile publicitare, pentru imbunatatirea experientei tale personalizate pe website, pentru dezvoltarea noastra in mediul online. Aceste date sunt minimizate si trimise doar pentru scopuri clar definite.</li>
                   <li><i>Autoritati competente</i>, atunci cand este cazul, pentru orice investigatie juridica, pentru a initia sau apara reclamatiile juridice sau in scopuri civile, penale sau administrative.</li>
                </ul>
                <p><b>CAT TIMP ITI PASTRAM DATELE PERSONALE</b></p>
                <ul>
                <p align="justify">Iti pastram datele personale nu mai mult decat este necesar pentru scopul pentru care acestea sunt procesate. Daca ne-ai dat consimtamantul sa iti procesam datele, le vom procesa doar in parametrii pe care ni i-ai oferit. Putem pastra datele tale cu caracter personal in conformitate cu legile si reglementarile aplicabile si le putem partaja cu autoritatile competente, atunci cand este cazul, pentru orice investigatie juridica, pentru a initia sau apara reclamatiile juridice sau in scopuri civile, penale sau administrative. Daca nu se aplica niciunul dintre motivele de mai sus, datele tale vor fi sterse intr-un mod sigur sau in unele cazuri le facem anonime pentru statistici si cercetari interne.&nbsp; Datele tale cu caracter personal vor fi stocate pe o perioada de maximum 10 ani de la ultima ta interactiune cu noi sau vor putea fi sterse la orice solicitare din partea ta.</p>
                </ul>
                <p><b>DREPTURILE TALE</b></p>
                <ul>
                <p align="justify">Cu exceptia cazului in care esti supus unei exceptari in conformitate cu legile aplicabile privind confidentialitatea, ai urmatoarele drepturi cu privire la datele tale personale pe care le poti solicita direct din contul tau sau contactandu-ne:</p>
                <ul>
                   <li>poti solicita o copie a datelor tale personale pe care le stocam</li>
                   <li>poti solicita corectarea oricaror date personale daca consideri ca acestea sunt inexacte</li>
                   <li>poti solicita stergerea completa a datelor tale personale</li>
                   <li>poti restrictiona &nbsp;sau retrage consimtamantul prelucrarii datelor tale personale</li>
                   <li>poti solicita transmiterea datelor tale care un alt operator</li>
                   <li>poti solicita accesul asupra datelor tale personale</li>
                   <li>te poti opune prelucrarii datelor si utilizarii datelor tale personale</li>
                   <li>te poti adresa Autoritatii Nationale de Supraveghere a Prelucrarii Datelor cu Caracter Personal (ANSPDCP) in legatura cu datele tale personale</li>
                   <li>poti inainte o plangere in legatura cu modul in care iti procesam datele personale catre noi (cererea va fi rezolvata in maximum 30 zile) sau autoritatii competente ANSPDCP</li>
                </ul>
                </ul>
                <p><b>CUM ITI PROTEJAM DATELE</b></p>
                <ul>
                    <p align="justify">Iti protejam datele utilizand masuri tehnice de minimizare a riscurilor utilizarii incorecte, accesului neutorizat, dezvalurii neautorizate, pierderii, furtului si pierderii accesului. Printre masurile pe care le utilizam sunt criptarea datelor, firwall-urile si controale de autorizare a accesului la date. Tratam cu seriozitate securitatea datelor clientilor nostri si de aceea verificam si actualizam constant mecanismele utilizate pentru a iti oferi o protectie eficienta impotriva abuzurilor.</p>
                    <p align="justify">Serverul prin intermediul caruia iti colectam informatiile este codificat folosind modulul de criptare al browser-ului tau prin intermediul certificatului de securitate SSL.</p>
                    <p align="justify">Desi noi iti protejam datele este important ca si tu sa faci acest lucru. Nu trebuie sa dezvalui nimanui informatiile tale personale.</p>
                    <p align="justify">Daca consideri ca securitatea datelor tale personale a fost compromisa sau daca doresti mai multe informatii in legatura cu masurile pe care le-am luat pentru a-ti proteja datele, te rugam sa ne contactezi la <strong>office&#64;dentalarchitect</strong><b>.ro</b>.</p>
                </ul>
                    <p><b>LINK-URI CATRE ALTE WEBSITE-URI</b></p>
                <ul>
                    <p align="justify">In cadrul website-ului nostru poti intalni link-uri care te redirectioneaza catre alte website-uri. Aceste website-uri pot colecta informatii despre tine si trebuie sa te supui politicii de confidentialitate a website-ului respectiv. <strong>DENTAL ARCHITECT</strong><b>&nbsp;S.R.L.</b>&nbsp;nu este responsabile pentru practicile de confidentialitate ale altor website-uri.</p>
                </ul>
                <p><b>VREI SA NE CONTACTEZI?</b></p>
                <ul>
                    <p align="justify">Daca ai intrebari in legatura cu aceasta politica de confidentialitate, vrei sa-ti exerciti drepturile sau ai o plangere despre care vrei sa discuti cu noi ne poti contacta prin e-mail la <strong>office&#64;dentalarchitect</strong><b>.ro</b>.</p>
                    <p align="justify">Prin acceptarea acestui acord, datele tale personale vor fi prelucrate de catre <strong>DENTAL ARCHITECT</strong><b>&nbsp;S.R.L.</b>&nbsp;in conformitate cu aceasta politica de confidentialitate si politica privind prelucrarea datelor cu caracter personal.</p>
                </ul>
            </div>
          </div>
       </div>
    </div>
 </main>