<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Intrebari</span> Frecvente</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">intrebari-frecvente</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Page Faqs Start -->
<div class="page-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Faqs Sidebar Start -->
                <div class="faq-sidebar">
                    <!-- Faqs Catagery List Start -->
                    <div class="faq-catagery-list wow fadeInUp" data-wow-delay="0.25s">
                        <ul>
                            <li><a href="#general_information" (click)="scrollTo('general_information'); $event.preventDefault()">Informatii Generale</a></li>
                            <li><a href="#preventive_care" (click)="scrollTo('preventive_care'); $event.preventDefault()">Îngrijire Preventivă</a></li>
                            <li><a href="#cosmetic_dentistry" (click)="scrollTo('cosmetic_dentistry'); $event.preventDefault()">Stomatologie Cosmetică</a></li>
                            <li><a href="#restorative_dentistry" (click)="scrollTo('restorative_dentistry'); $event.preventDefault()">Stomatologie Restaurativă</a></li>
                        </ul>
                    </div>
                    <!-- Faqs Catagery List End -->
                </div>
                <!-- Faqs Sidebar End -->
            </div>
            
            <div class="col-lg-8">
                <!-- FAQs section start -->
                <div class="faqs-section" id="general_information">
                    <div class="faqs-section-title">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Informatii Generale</h2>
                    </div>
                    <!-- FAQ Accordion Start -->
                    <div class="faq-accordion" id="accordion">
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Ce este ortodonția?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Ortodonția este o ramură a stomatologiei care se concentrează pe diagnosticarea, prevenirea și tratarea neregularităților dentare și faciale, precum alinierea greșită a dinților și maxilarelor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Ce sunt sigilanții dentari?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Sigilanții dentari sunt straturi subțiri și protectoare aplicate pe suprafețele de mestecare ale molarilor pentru a preveni apariția cariilor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Sunt tratamentele pentru albirea dinților sigure?
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Da, tratamentele de albire a dinților realizate de un dentist sau folosind produse aprobate de acesta sunt sigure și eficiente.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Ce este stomatologia estetică?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Stomatologia estetică se axează pe îmbunătățirea aspectului dinților, gingiilor și a zâmbetului prin proceduri precum albirea, fațetele și reconstrucțiile.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="1s">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Cum îmi pot albi dinții acasă?
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Opțiunile de albire acasă includ benzi de albire, geluri, paste de dinți specializate disponibile fără prescripție medicală, sau tăvi personalizate oferite de dentistul dumneavoastră.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                    </div>
                    <!-- FAQ Accordion End -->
                </div>
                <!-- FAQs section End -->

                <!-- FAQs section start -->
                <div class="faqs-section" id="preventive_care">
                    <div class="faqs-section-title">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Îngrijire Preventivă</h2>
                    </div>
                    <!-- FAQ Accordion Start -->
                    <div class="faq-accordion" id="accordion1">
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading11">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                                    Ce este îngrijirea dentară preventivă?
                                </button>
                            </h2>
                            <div id="collapse11" class="accordion-collapse collapse show" aria-labelledby="heading11"
                                data-bs-parent="#accordion1">
                                <div class="accordion-body">
                                    <p>Îngrijirea dentară preventivă constă în măsuri care ajută la prevenirea problemelor dentare, inclusiv curățări profesionale regulate, controale periodice și educație privind igiena orală corectă.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                            <h2 class="accordion-header" id="heading12">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                    Cât de des ar trebui să merg la dentist pentru îngrijire preventivă?
                                </button>
                            </h2>
                            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                                data-bs-parent="#accordion1">
                                <div class="accordion-body">
                                    <p>Se recomandă vizite la dentist cel puțin o dată la șase luni pentru controale și curățări preventive, însă frecvența poate varia în funcție de nevoile individuale ale fiecărui pacient.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="heading13">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                    Ce sunt sigilanții dentari și cine ar trebui să îi folosească?
                                </button>
                            </h2>
                            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                                data-bs-parent="#accordion1">
                                <div class="accordion-body">
                                    <p>Sigilanții dentari sunt straturi subțiri aplicate pe suprafața molarilor pentru a proteja împotriva cariilor. Aceștia sunt ideali pentru copii și adolescenți, dar și pentru adulții cu risc crescut de carii.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                            <h2 class="accordion-header" id="heading14">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                    Care sunt semnele bolii parodontale și cum poate fi prevenită?
                                </button>
                            </h2>
                            <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                                data-bs-parent="#accordion1">
                                <div class="accordion-body">
                                    <p>Semnele bolii parodontale includ sângerarea gingiilor, umflarea acestora, respirația urât mirositoare persistentă și retracția gingivală. Prevenirea implică o igienă orală riguroasă, controale regulate și tratamente adecvate.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="1s">
                            <h2 class="accordion-header" id="heading15">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                    Poate terapia cronică să ajute la problemele posturale?
                                </button>
                            </h2>
                            <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                                data-bs-parent="#accordion1">
                                <div class="accordion-body">
                                    <p>Terapia cronică, în special cea care se concentrează pe echilibrul ocluziei dentare și sănătatea mandibulei, poate contribui la ameliorarea unor probleme posturale prin reducerea tensiunii musculare și alinierea corectă a maxilarelor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                    </div>
                    <!-- FAQ Accordion End -->
                </div>
                <!-- FAQs section End -->

                <!-- FAQs section start -->
                <div class="faqs-section" id="cosmetic_dentistry">
                    <div class="faqs-section-title">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Stomatologie Cosmetică</h2>
                    </div>
                    <!-- FAQ Accordion Start -->
                    <div class="faq-accordion" id="accordion2">
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading21">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse21" aria-expanded="true" aria-controls="collapse21">
                                    Ce este stomatologia cosmetică?
                                </button>
                            </h2>
                            <div id="collapse21" class="accordion-collapse collapse show" aria-labelledby="heading21"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body">
                                    <p>Stomatologia cosmetică se referă la procedurile care îmbunătățesc aspectul dinților, gingiilor și zâmbetului. Aceasta include albirea dinților, fațetele dentare și alte tratamente estetice.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                            <h2 class="accordion-header" id="heading22">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                                    Cât timp durează efectul albirii dinților?
                                </button>
                            </h2>
                            <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body">
                                    <p>Rezultatele albirii dinților pot dura între șase luni și trei ani, în funcție de obiceiurile de igienă orală și consumul de alimente sau băuturi care pătează, cum ar fi cafeaua sau vinul roșu.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="heading23">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                                    Cum poate stomatologia cosmetică să îmbunătățească zâmbetul meu?
                                </button>
                            </h2>
                            <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body">
                                    <p>Procedurile cosmetice pot corecta petele, crăpăturile, golurile dintre dinți și alte imperfecțiuni pentru a crea un zâmbet mai atractiv și mai încrezător.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                            <h2 class="accordion-header" id="heading24">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                                    Ce sunt plombele dentare și când sunt necesare?
                                </button>
                            </h2>
                            <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body">
                                    <p>Plombele dentare sunt materiale utilizate pentru a repara dinții afectați de carii sau fisuri. Acestea sunt necesare pentru a restabili funcționalitatea și integritatea dintelui.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="1s">
                            <h2 class="accordion-header" id="heading25">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
                                    Ce este o coroană dentară și de ce aș avea nevoie de una?
                                </button>
                            </h2>
                            <div id="collapse25" class="accordion-collapse collapse" aria-labelledby="heading25"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body">
                                    <p>O coroană dentară este o înveliș care acoperă un dinte deteriorat sau slăbit pentru a-l proteja și a-i îmbunătăți aspectul. Aceasta este necesară adesea după tratamente de canal sau fracturi.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                    </div>
                    <!-- FAQ Accordion End -->
                </div>
                <!-- FAQs section End -->

                <!-- FAQs section start -->
                <div class="faqs-section" id="restorative_dentistry">
                    <div class="faqs-section-title">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Stomatologie Restaurativă</h2>
                    </div>
                    <!-- FAQ Accordion Start -->
                    <div class="faq-accordion" id="accordion3">
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading31">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse31" aria-expanded="true" aria-controls="collapse31">
                                    Ce este stomatologia restaurativă?
                                </button>
                            </h2>
                            <div id="collapse31" class="accordion-collapse collapse show" aria-labelledby="heading31"
                                data-bs-parent="#accordion3">
                                <div class="accordion-body">
                                    <p>Stomatologia restaurativă implică tratamente pentru a repara dinții afectați sau pierduți, incluzând plombe, coroane, punți dentare și implanturi.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
                            <h2 class="accordion-header" id="heading32">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                                    Ce sunt plombele dentare și când sunt necesare?
                                </button>
                            </h2>
                            <div id="collapse32" class="accordion-collapse collapse" aria-labelledby="heading32"
                                data-bs-parent="#accordion3">
                                <div class="accordion-body">
                                    <p>Plombele sunt folosite pentru a repara dinții afectați de carii sau fisuri. Ele protejează structura dentară rămasă și previn problemele suplimentare.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="heading33">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
                                    Care este diferența dintre protezele parțiale și cele totale?
                                </button>
                            </h2>
                            <div id="collapse33" class="accordion-collapse collapse" aria-labelledby="heading33"
                                data-bs-parent="#accordion3">
                                <div class="accordion-body">
                                    <p>Protezele parțiale înlocuiesc câțiva dinți lipsă și se fixează pe dinții rămași, în timp ce protezele totale înlocuiesc toți dinții de pe o arcadă.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
                            <h2 class="accordion-header" id="heading34">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse34" aria-expanded="false" aria-controls="collapse34">
                                    Sunt procedurile stomatologice restaurative dureroase?
                                </button>
                            </h2>
                            <div id="collapse34" class="accordion-collapse collapse" aria-labelledby="heading34"
                                data-bs-parent="#accordion3">
                                <div class="accordion-body">
                                    <p>Majoritatea procedurilor restaurative nu sunt dureroase datorită utilizării anestezicelor moderne. Disconfortul este minim și controlabil.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="1s">
                            <h2 class="accordion-header" id="heading35">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse35" aria-expanded="false" aria-controls="collapse35">
                                    Cum pot să îngrijesc restaurările dentare pentru a le menține durabilitatea?
                                </button>
                            </h2>
                            <div id="collapse35" class="accordion-collapse collapse" aria-labelledby="heading35"
                                data-bs-parent="#accordion3">
                                <div class="accordion-body">
                                    <p> Este esențial să păstrezi o igienă orală riguroasă, să eviți alimentele dure sau lipicioase și să mergi regulat la controale stomatologice pentru a menține restaurările în stare bună.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                    </div>
                    <!-- FAQ Accordion End -->
                </div>
                <!-- FAQs section End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Faq End -->