
@use "igniteui-angular/theming" as *;
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

/* autoprefixer grid: on */

@include core();
@include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);
// CSS Reset, comment out if not required or using a different module
@import 'minireset.css/minireset';

:root {
  --primary-color: #0E384C;
  --secondary-color: #EFF8FF;
  --text-color: #527282;
  --accent-color: #1E84B5;
  --white-color: #FFFFFF;
  --divider-color: #FFFFFF1F;
  --dark-divider-color: #0E384C1A;
  --error-color: rgb(230, 87, 87);
  --default-font: "Poppins", sans-serif;
}


/* styles.scss */

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  /* Wrapper for main content */
  .main-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures footer is at the bottom when content is short */
  }
  
  /* Footer styling */
  .main-footer {
    background: url('/assets/img/footer/footer-bg.png') no-repeat #0E384C;
    background-position: center center;
    background-size: auto;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
  }
  