<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Blogul</span> Nostru</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Acasa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Page Blog Start -->
<div class="page-blog">
    <div class="container">
        <div class="row">
            <div *ngFor="let post of paginatedPosts; let i = index" class="col-lg-4 col-md-6">
                <!-- Blog Item Start -->
                <div class="blog-item wow fadeInUp" [attr.data-wow-delay]="i * 0.2 + 's'">
                    <!-- Post Featured Image Start -->
                    <div class="post-featured-image">
                        <figure>
                            <a [routerLink]="['/blog', post.slug]" class="image-anime">
                                <img [src]="post.image" [alt]="post.title" />
                            </a>
                        </figure>
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <h2>
                            <a [routerLink]="['/blog', post.slug]">{{ post.title }}</a>
                        </h2>
                        <p>{{ post.summary }}</p>
                    </div>
                    <!-- Post Item Body End -->

                    <!-- Post Item Footer Start -->
                    <div class="post-item-footer">
                        <a [routerLink]="['/blog', post.slug]" class="read-more-btn">Afla mai multe</a>
                    </div>
                    <!-- Post Item Footer End -->
                </div>
                <!-- Blog Item End -->
            </div>
        </div>

        <!-- Pagination Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="post-pagination wow fadeInUp" data-wow-delay="1.8s">
                    <ul class="pagination">
                      <!-- Previous Page -->
                      <li>
                        <a 
                          href="#" 
                          role="button" 
                          tabindex="0" 
                          (click)="changePage(currentPage - 1); $event.preventDefault()" 
                          [class.disabled]="currentPage === 1" 
                          aria-label="Previous Page">
                          <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                      </li>
                  
                      <!-- Page Numbers -->
                      <li *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
                        <a 
                          href="#" 
                          role="button" 
                          tabindex="0" 
                          (click)="changePage(i + 1); $event.preventDefault()" 
                          [attr.aria-label]="'Page ' + (i + 1)">
                          {{ i + 1 }}
                        </a>
                      </li>
                  
                      <!-- Next Page -->
                      <li>
                        <a 
                          href="#" 
                          role="button" 
                          tabindex="0" 
                          (click)="changePage(currentPage + 1); $event.preventDefault()" 
                          [class.disabled]="currentPage === totalPages" 
                          aria-label="Next Page">
                          <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Blog End -->