<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="text-anime-style-2" data-cursor="-opaque">
              <span>{{ getSplitTitle(postDetails?.title).firstWord }}</span>
              {{ getSplitTitle(postDetails?.title).remainingWords }}
            </h1>
            <div class="post-single-meta wow fadeInUp">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa-regular fa-user"></i> Admin</li>
                <li class="breadcrumb-item"><i class="fa-regular fa-clock"></i> 10 Iulie 2024</li>
              </ol>
            </div>
            <nav class="wow fadeInUp">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Acasa</a></li>
                <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ postDetails?.title }}</li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->
  
  <!-- Page Single Post Start -->
  <div class="page-single-post" *ngIf="postDetails; else notFound">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Post Featured Image Start -->
          <div class="post-image">
            <figure class="image-anime reveal">
              <img [src]="postDetails.image" [alt]="postDetails.title" />
            </figure>
          </div>
          <!-- Post Featured Image End -->
  
          <!-- Post Single Content Start -->
          <div class="post-content">
            <!-- Paragraph Area 1 -->
            <div class="post-entry">
              <p *ngFor="let paragraph of postDetails.paragraphsArea1; let i = index" class="wow fadeInUp" [attr.data-wow-delay]="i * 0.2 + 's'">
                {{ paragraph }}
              </p>
  
              <!-- Quote -->
              <blockquote class="wow fadeInUp" data-wow-delay="0.4s" *ngIf="postDetails.quote">
                <p>{{ postDetails.quote }}</p>
              </blockquote>
  
              <!-- Paragraph Area 2 -->
              <p *ngFor="let paragraph of postDetails.paragraphsArea2; let i = index" class="wow fadeInUp" [attr.data-wow-delay]="(i + 1) * 0.2 + 's'">
                {{ paragraph }}
              </p>
  
              <!-- Subtitle -->
              <h2 class="text-anime-style-3">{{ postDetails.subtitle }}</h2>
  
              <!-- Paragraph Area 3 -->
              <p *ngFor="let paragraph of postDetails.paragraphsArea3; let i = index" class="wow fadeInUp" [attr.data-wow-delay]="(i + 2) * 0.2 + 's'">
                {{ paragraph }}
              </p>
  
              <!-- List -->
              <ul class="wow fadeInUp" data-wow-delay="1s" *ngIf="postDetails.list?.length">
                <li *ngFor="let item of postDetails.list">{{ item }}</li>
              </ul>
  
              <!-- Conclusion -->
              <p class="wow fadeInUp" data-wow-delay="1.2s" *ngIf="postDetails.conclusion">{{ postDetails.conclusion }}</p>
            </div>
  
            <!-- Post Tag Links Start -->
            <div class="post-tag-links">
              <div class="row align-items-center">
                <div class="col-lg-8">
                  <!-- Post Tags Start -->
                  <div class="post-tags wow fadeInUp" data-wow-delay="0.5s" *ngIf="postDetails.tags?.length">
                    <span class="tag-links">
                      Tags:
                      <a *ngFor="let tag of postDetails.tags">{{ tag }}</a>
                    </span>
                  </div>
                  <!-- Post Tags End -->
                </div>
  
                <div class="col-lg-4">
                  <!-- Post Social Links Start -->
                  <div class="post-social-sharing wow fadeInUp" data-wow-delay="0.5s">
                    <ul>
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    </ul>
                  </div>
                  <!-- Post Social Links End -->
                </div>
              </div>
            </div>
            <!-- Post Tag Links End -->
          </div>
          <!-- Post Single Content End -->
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #notFound>
    <div class="not-found">
      <h2>Post not found</h2>
      <p>The blog post you are looking for does not exist or has been removed.</p>
      <a routerLink="/blog" class="btn-default">Back to Blog</a>
    </div>
  </ng-template>
  <!-- Page Single Post End -->